{% extends 'base.html' %}
{% block content %}
    {{ error }}
    <table border="1" width="600">
        <tr>
            <th width="20%" height="10px">Gametime</th>
            <th width="20%" height="10px">League</th>
            <th width="20%" height="10px">Home Team</th>
            <th width="20%" height="10px">Away Team</th>
            <th width="20%" height="10px">Score</th>
        </tr>
        {% for game in games %}
            <tr>
                <td height="30px">{{ game.gametime }}</td>
                <td height="30px">{{ game.league.name }}</td>
                <td height="30px">{{ game.homeTeam.name }}</td>
                <td height="30px">{{ game.awayTeam.name }}</td>
                <td height="30px"><form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.pk }}">
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}